<h1>Текст для страниц</h1>



<% @items.each do |item| %>

<div class="item_content">
    <p><b>Страница: </b><%= item.page %><p>
	<p><b>Заголовок: </b><%= item.title %><p>
    <%= link_to 'Show', item %>
    <%= link_to 'Edit', edit_item_path(item) %>
    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>


<dic class="clear"></div>

<%= link_to 'New Item', new_item_path %>
